:root {
    --primaryColor: #473198;
    --secongColor: #4a0d67;
    --mintGreen: #daffed;
    --iceBlue: #9bf3f0;
    --lightGreen: #adfc92;
    --negro: #000000;
    --white: #ffffff;
}

h1 {
    color: var(--secongColor);
}

img {
    display: block;
}

h1 span {
    color: var(--primaryColor);
}

/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.textCenter {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
}

a {
    text-decoration: none;
}